{% load static %}

<link rel="stylesheet" href="{% static 'css/core/navbar.css' %}">

{% load static %}

<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" id="titulo-navbar" href="#">
        <img src="{% static 'img/imagem_evolucao.png' %}" alt="Logo">
        Evolução Agrícola LTDA
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if 'core' in request.resolver_match.app_name %}active{% endif %}">
                <a class="nav-link" href="{% url 'core:index' %}">Home</a>
            </li>

            {% if user.is_superuser %}
                <li class="nav-item {% if 'vendedores' in request.resolver_match.app_name %}active{% endif %}">
                    <a class="nav-link" href="{% url 'vendedores:lista_vendedores' %}">Vendedores</a>
                </li>
            {% endif %}

            <li class="nav-item {% if 'clientes' in request.resolver_match.app_name %}active{% endif %}">
                <a class="nav-link" href="{% url 'clientes:lista_cliente' %}">Clientes</a>
            </li>
             
            <li class="nav-item {% if 'produtos' in request.resolver_match.app_name %}active{% endif %}">
                <a class="nav-link" href="{% url 'produtos:lista_produtos' %}">Produtos</a>
            </li>

            <li class="nav-item {% if 'vendas' in request.resolver_match.app_name %}active{% endif %}">
                <a class="nav-link" href="{% url 'vendas:lista_vendas' %}">Vendas</a>
            </li>
            
            <li class="nav-item {% if 'graficos' in request.resolver_match.app_name %}active{% endif %}">
                <a class="nav-link" href="{% url 'graficos:gerar_grafico' %}">Gráficos</a>
            </li>
            
        </ul>
        {% url 'usuarios:alterar_senha' as alterar_senha_url %}
        {% url 'usuarios:registrar' as registrar_url %}
        {% url 'usuarios:listar_usuarios' as lista_url %}

        {% if user.is_authenticated %}
            <ul class="navbar-nav px-3">
                <li class="nav-item {% if request.path == alterar_senha_url %}active{% endif %}">
                    <a href="{{ alterar_senha_url }}" class="nav-link">Alterar Senha</a>
                </li>
            </ul>
        {% endif %}
        {% if user.is_superuser %}
            <ul class="navbar-nav px-3">
                <li class="nav-item {% if request.path == registrar_url %}active{% endif %}">
                    <a href="{{ registrar_url }}" class="nav-link">Registrar Usuário</a>
                </li>
            </ul>
            <ul class="navbar-nav px-3">
                <li class="nav-item {% if request.path == lista_url %}active{% endif %}">
                    <a href="{{ lista_url }}" class="nav-link">Lista de Usuários</a>
                </li>
            </ul>
            
        {% endif %}
        {% if user.is_authenticated %}
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a href="{% url 'logout' %}" class="nav-link">Sair</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a href="{% url 'usuarios:login' %}" class="nav-link">Entrar</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
