{% load static %}

<link rel="stylesheet" href="{% static 'css/core/rodape.css' %}">


    
<footer class="footer">
    <!-- Informações da Empresa -->
    <div class="empresa">
        <p><strong>Informações da Empresa Evolução Agrícola LTDA</strong></p>
        <p>Email: <a href="mailto:evoagri@evoagri.com.br">evoagri@evoagri.com.br</a></p>
        <p>Telefone: <a href="tel:+554999664192">54999664192</a></p>
        <p>Endereço: RS 153 km 245, 0, CEP 99360-000, Barros Cassal - RS</p>
    </div>

    <div class="redes-sociais">
        <p><strong>Redes Sociais da Empresa</strong></p>
        <p>
            <a href="https://www.instagram.com/evolucaoagricola" target="_blank">
                <img src="{% static 'img/instagram.png' %}" alt="Instagram"> Instagram
            </a>
        </p>
        <p>
            <a href="https://www.facebook.com/evolucaoagricola" target="_blank">
                <img src="{% static 'img/facebook(1).jpg' %}" alt="Facebook"> Facebook
            </a>
        </p>
    </div>

    <!-- Informações do Autor -->
    <div class="autor">
        <p><strong>Desenvolvido por:</strong></p>
        <p>Samael Picoli</p>
        <p>
            LinkedIn: 
            <a href="https://www.linkedin.com/in/samaelpicoli" target="_blank">
                linkedin.com/in/samaelpicoli
            </a>
        </p>
    </div>

    <!-- Redes Sociais -->
    
</footer>
