{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'css/vendas/selects.css' %}">
<link rel="stylesheet" href="{% static 'css/graficos/grafico.css' %}">
{% endblock css %}

{% block conteudo %}

<div class="container">

    <div class="row margem-topo">
        <h2>Visualizar Gráfico de Vendas <span class="fa fa-bar-chart"></span>   
        </h2>
    </div>
    <div class="row"><h3>Selecione um dos filtros:</h3></div>
    

    <div class="form-container">
        <form id="form-filtros">
            
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.vendedor.id_for_label }}">{{ form.vendedor.label }}</label>
                        {{ form.vendedor|add_class:"select2" }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.cliente.id_for_label }}">{{ form.cliente.label }}</label>
                        {{ form.cliente|add_class:"select2" }}
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="{{ form.ano.id_for_label }}">{{ form.ano.label }}</label>
                        {{ form.ano|add_class:"select2" }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.tipo_grafico.id_for_label }}">Irá mostrar</label>
                        {{ form.tipo_grafico|add_class:"select2" }}
                    </div>
                </div>
            </div>

            
            <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary botao-salvar">Gerar Gráfico</button>
                </div>
            </div>
        </form>
    </div> 
    <canvas id="grafico"></canvas>

    <div id="mensagem-erro">
        <h2 class="msg-erro">
            Nenhuma venda encontrada com o filtro selecionado.
        </h2>
    </div>

    <div id="download-container" style="display: none; margin-bottom: 30px;">
        <button id="btn-download" class="btn btn-secondary" style="font-size: 20px;">Download do Gráfico</button>
    </div>


</div>

{% endblock conteudo %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="{% static 'js/graficos/charts.js' %}"></script>
{% endblock js %}
