{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'css/vendas/selects.css' %}">
<link rel="stylesheet" href="{% static 'css/graficos/grafico.css' %}">
{% endblock css %}

{% block conteudo %}

<div class="container">

    <div class="row margem-topo">
        <h2>Visualizar Gráfico de Vendas <span class="fa fa-bar-chart"></span>   
        </h2>
    </div>
    <div class="row"><h3>Selecione um dos filtros:</h3></div>
    

    <div class="form-container">
        <form id="form-filtros">
            
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.vendedor.id_for_label }}">{{ form.vendedor.label }}</label>
                        {{ form.vendedor|add_class:"select2" }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.cliente.id_for_label }}">{{ form.cliente.label }}</label>
                        {{ form.cliente|add_class:"select2" }}
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="{{ form.ano.id_for_label }}">{{ form.ano.label }}</label>
                        {{ form.ano|add_class:"select2" }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="{{ form.tipo_grafico.id_for_label }}">Irá mostrar</label>
                        {{ form.tipo_grafico|add_class:"select2" }}
                    </div>
                </div>
            </div>

            
            <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary botao-salvar">Gerar Gráfico</button>
                </div>
            </div>
        </form>
    </div> 
    <canvas id="grafico"></canvas>

    <div id="mensagem-erro" style="display:none; text-align: center; margin-top: -190px;">
        <h2 style="font-size: 2rem; color: red;">
            <span style="font-size: 4rem;">&#128542;</span> 
            Nenhuma venda encontrada com esse filtro.
        </h2>
    </div>
    

</div>

{% endblock conteudo %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    // Inicializa o Select2 nos campos de seleção
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Selecione uma opção',
            allowClear: false,
        });   
    });
    
    $(document).ready(function () {
        $('.select2').select2();
    });



    document.getElementById('form-filtros').onsubmit = async function(event) {
        event.preventDefault();
        
        // Cria os parâmetros de consulta a partir do formulário
        const params = new URLSearchParams(new FormData(this));
        
        // Faz a requisição GET com os parâmetros de consulta
        const response = await fetch(`?${params}`);
        const dados = await response.json();
        gerarGrafico(dados);
    };

    let meuGrafico;  // Variável para armazenar a referência do gráfico

    async function gerarGrafico(dados) {
        const ctx = document.getElementById('grafico').getContext('2d');

        // Verifica se há dados
        if (dados.length === 0) {
            // Exibe a mensagem de erro
            document.getElementById("mensagem-erro").style.display = "block";

            // Destroi o gráfico se existir
            if (meuGrafico) {
                meuGrafico.destroy();
            }

            console.warn("Nenhum dado encontrado para exibir no gráfico.");
            return;  // Não tenta desenhar o gráfico
        }

        // Determina as labels e os totais com base no formato dos dados
        let labels;
        let totais;

        if (dados[0].cliente__nome) { // Vendedor e ano
            labels = dados.map(d => d.cliente__nome);
            totais = dados.map(d => d.total);
        } else if (dados[0].produto__produto) { // Vendedor e cliente
            labels = dados.map(d => d.produto__produto);
            totais = dados.map(d => d.total);
        } else if (dados[0].data_da_venda__year) { // Apenas vendedor
            labels = dados.map(d => d.data_da_venda__year); // Anos
            totais = dados.map(d => d.total); // Totais correspondentes
        }

        // Verifica se já existe o gráfico e o destrói
        if (meuGrafico) {
            meuGrafico.destroy();
        }

        const tipoGrafico = document.querySelector('select[name="tipo_grafico"]');
        const tipo = tipoGrafico.value === 'quantidade' ? 'Quantidade Total' : 'Valor Monetário';

        meuGrafico = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: tipo,
                    data: totais,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
{% endblock js %}
