{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/vendas/form_vendas.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'css/vendas/selects.css' %}">
{% endblock css %}

{% block conteudo %}

<div class="container">
    <div class="top-container">
        <a href="{% url 'vendas:lista_vendas' %}" class="btn btn-secondary back-btn">
            <i class="fa fa-arrow-left"></i>  Voltar
        </a>
    </div>

    <div class="form-container">
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="row">
                
                <!-- Campo cliente -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_cliente">
                            <span class="required">{{ form.cliente.label }} </span>
                        </label>
                        {% render_field form.cliente class="form-control select2" %}
                        {% if form.cliente.errors %}
                            <div class="text-danger">
                                {% for error in form.cliente.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                
                <!-- Campo vendedor -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_vendedor"><span class="required">{{ form.vendedor.label }} </span></label>
                        {% render_field form.vendedor class="form-control select2" %}
                        {% if form.vendedor.errors %}
                            <div class="text-danger">
                                {% for error in form.vendedor.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Campo produto -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_produto"><span class="required">{{ form.produto.label }} </span></label>
                        {% render_field form.produto class="form-control select2" %}
                        {% if form.produto.errors %}
                            <div class="text-danger">
                                {% for error in form.produto.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            
            <div class="row">
                <!-- Campo Data da Venda, NF e Unidade -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_data_venda"><span class="required">Data da Venda </span></label>
                        <input type="date" id="id_data_venda" class="form-control" name="data_da_venda" 
                               value="{{ form.data_da_venda.value|date:"Y-m-d" }}" required>
                        {% for error in form.data_da_venda.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_nota_fiscal">{{ form.nf.label }}</label>
                        {% render_field form.nf class="form-control" min="0" %}
                        {% for error in form.nf.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_unidade"><span class="required">{{ form.unidade.label }} </span></label>
                        {% render_field form.unidade class="form-control" %}
                        {% for error in form.unidade.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                

                <!-- Campos de quantidade, valor unitário e valor total -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="quantidade"><span class="required">Quantidade </span></label>
                        <input type="number" id="quantidade" class="form-control" name="quantidade" value="{{ venda.quantidade }}" oninput="calcularTotal()" min="0.1" required>
                        {% for error in form.quantidade.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="valor_unitario"><span class="required">Valor Unitário </span></label>
                        <input type="number" id="valor_unitario" class="form-control" name="valor_unitario" value="{{ venda.valor_unitario }}" oninput="calcularTotal()" min="0.1" required>
                        {% for error in form.valor_unitario.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="valor_total">Valor Total</label>
                        <input type="number" id="valor_total" class="form-control" name="valor_total" value="{{ venda.valor_total }}" readonly>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success botao-salvar">
                    {% if form.instance.pk %}<i class="fa fa-edit"></i> Editar Venda{% else %}<i class="fa fa-shopping-cart"></i> Cadastrar Nova Venda{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock conteudo %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{% static 'js/vendas/input_formulario.js' %}"></script>
{% endblock js %}