{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/produtos/detalhe_produto.css' %}">
    <link rel="stylesheet" href="{% static 'css/listagem.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendas/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendas/upload_arquivo.css' %}">
{% endblock css %}

{% block conteudo %}
    <div class="text-center">
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row margem-topo">
        <div class="col-sm-12">
            <form method="GET" action="{% url 'vendas:lista_vendas' %}" id="search-form" class="form-inline">
                <input type="text" name="cliente" class="form-control fonte margem-direita" placeholder="Procurar por Cliente" value="{{ request.GET.cliente }}"> E/Ou
                <input type="text" name="vendedor" class="form-control fonte margem-direita margem-esquerda" placeholder="Procurar por Vendedor" value="{{ request.GET.vendedor }}">
                <button type="submit" class="btn btn-primary fonte">Buscar <i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="page-header mt-3">
        <h2>Lista de Vendas <i class="fa fa-shopping-cart"></i>
            <span class="pull-right">
                <a href="{% url 'vendas:adicionar_venda' %}" class="btn btn-success fonte">
                    <span class="fa fa-plus"></span> Adicionar
                </a>
                <a href="{% url 'vendas:download_vendas' %}?vendedor={{ request.GET.vendedor }}&cliente={{ request.GET.cliente }}" style="color: rgb(255, 255, 255); background-color: rgb(223, 30, 30); border-color: rgb(223, 30, 30);" class="btn btn-info fonte margem-esquerda">
                    <span class="fa fa-download"></span> Download Vendas
                </a>
                {% if user.is_superuser %}
                    <form method="POST" action="{% url 'vendas:importar_excel' %}" enctype="multipart/form-data" class="form-inline formulario">
                        {% csrf_token %}
                        <input type="file" id="upload_excel" name="file" onchange="this.form.submit()">
                        <button type="button" class="btn btn-info fonte" onclick="document.getElementById('upload_excel').click();">
                            <span class="fa fa-upload"></span> Importar Excel
                        </button>
                    </form>   
                {% endif %}      
            </span>
        </h2>
    
        <div class="table-container">
            <table class="table table-striped table-hover mt-2" id="vendasTable">
                <thead>
                    <tr>
                        <th class="fonte">ID</th>
                        <th class="fonte">Data da Venda</th>
                        <th class="fonte">NF</th>
                        <th class="fonte">Cliente</th>
                        <th class="fonte">Produto</th>
                        <th class="fonte">Vendedor</th>
                        <th class="fonte">Unidade</th>
                        <th class="fonte">Quantidade</th>
                        <th class="fonte">Valor Unitário</th>
                        <th class="fonte">Valor Total</th>
                        <th class="fonte actions-col">Ações</th>
                    </tr>
                </thead>
                <tbody id="list">
                    {% for venda in vendas %}
                    <tr>
                        <td class="fonte-item"><a id="info" href="{% url 'vendas:detalhe_venda' venda.pk %}">{{ venda.pk }}</a></td>
                        <td class="fonte-item">{{ venda.data_da_venda|date:"d/m/Y" }}</td>
                        <td class="fonte-item">{% if venda.nf %}{{ venda.nf }}{% else %}Sem NF{% endif %}</td>
                        <td class="fonte-item">{{ venda.cliente }}</td>
                        <td class="fonte-item">{{ venda.produto }}</td>
                        <td class="fonte-item">{{ venda.vendedor }}</td>
                        <td class="fonte-item">{{ venda.unidade }}</td>
                        <td class="fonte-item">{{ venda.quantidade }}</td>
                        <td class="fonte-item">R$ {{ venda.valor_unitario }}</td>
                        <td class="fonte-item">R$ {{ venda.valor_total }}</td>
                        <td class="actions-col">
                            <a href="{% url 'vendas:editar_venda' venda.pk %}" class="btn btn-primary btn-sm fonte-botao"><span class="fa fa-pencil"></span> Editar</a>
                            <button class="btn btn-danger btn-sm fonte-botao" data-toggle="modal" data-target="#deleteModal" data-url="{% url 'vendas:deletar_venda' venda.pk %}"><span class="fa fa-trash"></span> Apagar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'includes/modal_confirmacao.html' %}
        <div class="container-paginacao">{% include "includes/paginacao.html" %}</div>
        
        <div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="processingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content"> 
                    <div class="modal-header">
                        <h2 class="modal-title w-100 text-center" id="processingModalLabel">Upload de Arquivo Excel</h2> 
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center"> 
                        Os dados estão sendo processados. Por favor, aguarde...
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock conteudo %}

{% block js %}
<script src="{% static 'js/exclusao_item.js' %}"></script>      
<script src="{% static 'js/vendas/modal_aguardar_upload.js' %}"></script>
{% endblock js %}