 /* Centraliza a tabela na página */
 #vendasTable {
    width: 80%; /* Ajusta a largura da tabela */
    margin: 20px auto; /* Centraliza a tabela horizontalmente */
    table-layout: auto; /* Permite que as colunas se ajustem automaticamente */
}

/* Estilo das células da tabela */
.table th, .table td {
    padding: 15px; /* Aumenta o espaçamento das células */
    font-size: 18px; /* Tamanho da fonte */
}

/* Trunca nomes com mais de 10 caracteres */
.table td {
    max-width: 220px; /* Largura máxima para truncar texto */
    overflow: hidden; /* Esconde texto que excede o limite */
    text-overflow: ellipsis; /* Adiciona "..." para texto truncado */
    white-space: nowrap; /* Impede quebra de linha */
}

/* Estilo da coluna de ações */
.actions-col {
    width: 150px; /* Largura fixa para a coluna de ações */
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: 0.2rem;
}



/* Botões na tabela */
.btn {
    min-width: 80px; /* Define um tamanho mínimo para os botões */
}

.search-container {
    margin-bottom: 20px;
    text-align: center; 
}

.search-container input {
    margin: 0 10px;
    padding: 10px; 
    width: 30%; 
    max-width: 250px; 
}