.select2 {
    width: 100% !important;
}


.form-group label {
    font-weight: bold;
}


.form-group {
    margin-bottom: 15px;
}

.margem-topo {
    margin-top: 120px;
    margin-bottom: 10px;
}
h2 {
    font-size: 40px;
}

.select2-container--default .select2-selection--single {
    padding-right: 30px; 
}


.form-container {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h3 {
    font-size: 28px; 
    font-weight: bold; 
    margin-bottom: 5px;
}

.btn {
    margin-top: -20px;
}

#grafico {
    margin-top: 30px; 
    margin-bottom: 30px;
}

#mensagem-erro {
    display:none; 
    text-align: center; 
    margin-top: -190px;
}

.msg-erro {
    font-size: 2rem; 
    color: red; 
    font-weight: bold;
}