{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
{% endblock css %}

{% block conteudo %}

<div class="container">
    <div class="top-container">
        {% block url %}
        {% endblock url %}
    </div>

    <div class="form-container">
        <form method="POST" novalidate>
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group{% if field.errors %} has-error {% endif %}">
                    <label for="{{ field.id_for_label }}">
                        {% if field.field.required %}
                            <span class="required">{{ field.label }} </span>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    {% render_field field class="form-control" %}
                    <span class="text-muted">{{ field.errors.0 }}</span>
                </div>
            {% endfor %}
            {% block botao %}
            {% endblock botao %}
        </form>
    </div>
</div>

{% endblock conteudo %}
