{% extends "base.html" %}

{% load static %}

{% block titulo %}
<title>Evolução Agrícola LTDA</title>
{% endblock titulo %}

{% block css %}
<style>
    body, html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Estilização da seção de texto e imagem */
    .content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 80px;
        background-color: #e9ecef; /* Fundo suave */
        flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
    }

    .text-section {
        flex: 0 0 40%; /* Diminuindo a seção de texto */
        padding: 20px;
        max-width: 400px; /* Limita o tamanho máximo do texto */
    }

    .text-section h1 {
        margin-top: 0;
        font-size: 2rem;
        color: #333;
    }

    .text-section p {
        font-size: 1.2rem;
        color: #555;
    }

    .image-section {
        flex: 1; /* Aumenta a seção da imagem */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .image-section img {
        width: 100%; /* A imagem ocupa 100% do espaço disponível */
        max-width: 900px; /* Aumenta o tamanho máximo da imagem */
        height: auto;
        border-radius: 10px; /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras sutis */
    }
</style>
{% endblock css %}

{% block conteudo %}
<div class="content-container">
    <div class="image-section">
        <img src="{% static 'img/faixada.jpg' %}" alt="Faixada Evolução Agrícola">
    </div>
    
    <div class="text-section">
        <h1>Bem-vindo!</h1>
        <p>Esse é um sistema para análise e visualização de dados referentes a vendas realizadas na empresa <b>Evolução Agrícola LTDA</b>.</p>
    </div>
</div>
{% endblock conteudo %}