{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/listagem.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clientes/lista_clientes.css' %}">
{% endblock css %}

{% block conteudo %}

    <div class="text-center">
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row margem-topo">
        <div class="col-sm-6">
            <form method="GET" action="{% url 'vendedores:lista_vendedores' %}" id="search-form" class="form-inline">
                <input type="text" name="vendedor" class="form-control fonte margem-direita" placeholder="Procurar por Vendedor" value="{{ request.GET.vendedor }}">
                <button type="submit" class="btn btn-primary fonte">Buscar <i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>


    <div class="page-header mt-3">
        <h2><?xml version="1.0" encoding="UTF-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" class="margem-direita" data-name="Layer 1" viewBox="0 0 24 24">
              <path fill="#000000" d="m19.667,15.667v.333c0,1.105-.831,2-1.857,2h-.619c-1.026,0-1.857-.895-1.857-2v-.333s0,.333,0,.333h0c0,1.105-.831,2-1.857,2h-.619c-1.026,0-1.857-.895-1.857-2l1.238-3h10.524l1.238,3c0,1.105-.831,2-1.857,2h-.619c-1.026,0-1.857-.895-1.857-2h0m-4.667-10c0-3.309-2.691-6-6-6S3,2.691,3,6s2.691,6,6,6,6-2.691,6-6Zm7.143,14h-.619c-.673,0-1.306-.18-1.856-.495-.552.315-1.185.495-1.857.495h-.619c-.673,0-1.306-.18-1.857-.495-.551.315-1.184.495-1.856.495h-.619c-.296,0-.581-.042-.857-.108v4.108h11v-4.108c-.277.066-.562.108-.857.108Zm-13.143-4v-.396l.662-1.604h-4.662c-2.761,0-5,2.239-5,5v5h10v-5.338c-.615-.709-1-1.636-1-2.662Z"/>
            </svg> Lista de Vendedores
            <span class="pull-right">
                <a href="{% url 'vendedores:adicionar_vendedor' %}">
                    <button type="button" class="btn btn-success fonte">
                        <span class="fa fa-plus"></span> Adicionar
                    </button>
                </a>
            </span>
        </h2>

        <table class="table table-striped table-hover mt-3" id="lista-table">
            <thead>
                <tr>
                    <th class="fonte nome-col">Nome</th>
                    <th class="actions-col fonte">Ações</th>
                </tr>
            </thead>
            <tbody id="list">
                {% for vendedor in vendedores %}
                <tr>
                    <td class="fonte-item nome-col">{{ vendedor.nome }}</td>
                    <td class="actions-col">
                        <a href="{% url 'vendedores:editar_vendedor' vendedor.pk %}" class="btn btn-primary btn-sm fonte-botao"><span class="fa fa-pencil"></span> Editar</a>
                        <button class="btn btn-danger btn-sm fonte-botao" data-toggle="modal" data-target="#deleteModal" data-url="{% url 'vendedores:deletar_vendedor' vendedor.pk %}"><span class="fa fa-trash"></span> Apagar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        
    </div>

    
    {% include 'includes/modal_confirmacao.html' %}

    <div class="container-paginacao">
        {% include "includes/paginacao.html" %}
    </div>
    
{% endblock conteudo %}

{% block js %}
    <script src="{% static 'js/exclusao_item.js' %}"></script>
{% endblock js %}