{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/produtos/detalhe_produto.css' %}">
{% endblock css %}

{% block conteudo %}

    <div class="container mt-4">
        <div class="row mb-3">
            <!-- Botão de Voltar à esquerda -->
            <div class="col text-left">
                <a href="{% url 'produtos:lista_produtos' %}" class="btn btn-light">
                    Voltar
                </a>
            </div>

            <!-- Botões Editar e Apagar à direita -->
            <div class="col text-right">
                <a href="{% url 'produtos:editar_produto' objeto.pk %}">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-pencil"></span> Editar
                    </button>
                </a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-url="{% url 'produtos:deletar_produto' objeto.pk %}">
                    <span class="fa fa-trash"></span> Apagar
                </button>
            </div>
        </div>
    </div>

    <div class="container text-center mt-5">
        <h1>
            {{ objeto }}
        </h1>
        
    </div>

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <table class="table mini-tabela">
                    <tbody>
                        <tr>
                            <th>Código:</th>
                            <td>
                                {% if objeto.codigo %}
                                    {{ objeto.codigo }}
                                {% else %}
                                    Produto sem código!
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal de Confirmação de Exclusão -->
    {% include 'includes/modal_confirmacao.html' %}

{% endblock conteudo %}

{% block js %}
    <script src="{% static 'js/listagem.js' %}"></script>
{% endblock js %}
