body { 
    margin-top: 60px; 
    background-color: #e9ecef;
}

.ok {
    color: green;
}

.no {
    color: red;
}

span.required:after {
    content: "*";
    color: red;
}

/* Ajuste para a tabela */
table {
    background-color: #ffffff; 
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; 
}

table th {
    background-color: #ffcc00; 
    color: #000000; 
}


#info {
    color: #0300b6;; 
    text-decoration: none; 
}

#info:hover {
    color: #0ac9f8; 
    text-decoration: underline; 
}


table tr:nth-child(odd) {
    background-color: #faf7a9 !important; 
}


table tr:nth-child(even) {
    background-color: #faf9bf; 
}


table tr:hover {
    background-color: #2e7d32 !important; 
    color: #ffffff; 
}


