/* Aumenta o tamanho da fonte e centraliza a tabela */
.mini-tabela {
    width: auto; /* Ajusta a largura da tabela conforme o conteúdo */
    border-collapse: collapse; /* Remove o espaçamento entre bordas das células */
    margin: 0 auto; /* Centraliza a tabela */
    font-size: 1.2em; /* Ajusta o tamanho da fonte (ajuste conforme necessário) */
    text-align: center;
}

/* Estilos para células da tabela */
.mini-tabela th, .mini-tabela td {
    padding: 10px; /* Ajusta o padding das células */
    border: 1px solid #ddd; /* Adiciona uma borda sutil */
    text-align: left; /* Alinha o texto à esquerda */
}

.mini-tabela th {
    text-align: right; /* Alinha o texto do cabeçalho à direita */
    padding-right: 10px; /* Adiciona padding à direita para alinhamento */
}

.mini-tabela td {
    text-align: left; /* Alinha o texto dos dados à esquerda */
    padding-left: 10px; /* Adiciona padding à esquerda para alinhamento */
}




h1 {
    text-align: center; /* Centraliza o texto do cabeçalho */
    margin-bottom: 20px; /* Adiciona um espaçamento inferior se necessário */
}



