{% extends "formulario.html" %}

{% load static %}
{% load widget_tweaks %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/usuarios/cadastro.css' %}">
{% endblock css %}

{% block conteudo %}
<div class="container">
    <div class="form-container">
        <h2>Alterar Minha Senha</h2>

        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group{% if field.errors %} has-error {% endif %}">
                    <label for="{{ field.id_for_label }}">
                        {% if field.field.required %}
                            <span class="required" style="font-size: 22px;">{{ field.label }} </span>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    {% render_field field class="form-control" %}
                    <span class="text-muted">{{ field.errors.0 }}</span>
                </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
    </div>
</div>
{% endblock conteudo %}
