{% extends "formulario.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/usuarios/cadastro.css' %}">
{% endblock css %}

{% block navbar %}
{% endblock navbar %}

{% block conteudo %}
<div class="container">
    <div class="form-container">
        <h2>Login</h2>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for field in form.visible_fields %}
                <div class="form-group{% if field.errors %} has-error {% endif %}">
                    <label for="{{ field.id_for_label }}">
                        {% if field.field.required %}
                            <span class="required">{{ field.label }} </span>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    {% render_field field class="form-control" %}
                    <span class="text-muted">{{ field.errors.0 }}</span>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Entrar</button>
        </form>
    </div>
</div>
{% endblock conteudo %}